
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
# Doctrine Migrations
/migrations/

# Symfony environment file
/.env

###< symfony/framework-bundle ###
